In [64]:
#Importar Pandas
import pandas as pd


#Importar sklearn
import sklearn

#Importar train_test_split para dividir nuestro dataframe
from sklearn.model_selection import train_test_split as tts

#Importar la maquina de soporte de vectores
from sklearn.svm import SVC

#Importar el accuracy
from sklearn.metrics import accuracy_score

#Importar la matriz de confusi√≥n
from sklearn.metrics import confusion_matrix

In [65]:
df = pd.read_csv('examenm1.csv')
df.head()

,no_reg,battery_power,clock_speed,four_g,int_memory,m_dep,price_range,n_cores,wifi,pc,px_height,touch_screen,px_width,ram,talk_time,three_g
0,1,1757,0.5,N,49.0,NaN,1,6.0,NO,14.0,265,N,713,2056.0,4.0,N
1,2,1866,1.4,N,30.0,NaN,3,3.0,NO,0.0,108,N,1781,3834.0,8.0,N
2,3,617,2.3,N,32.0,NaN,1,7.0,NO,20.0,768,N,874,2213.0,7.0,N
3,4,1356,2.8,N,29.0,NaN,3,6.0,NO,0.0,1612,N,1983,3702.0,19.0,N
4,5,1049,2.2,N,63.0,NaN,0,5.0,NO,17.0,199,N,1077,1022.0,13.0,N

In [66]:
categoricos = df.iloc[:,[0,3,6,8,11,15]]
categoricos

     no_reg four_g  price_range wifi touch_screen three_g
0         1      N            1   NO            N       N
1         2      N            3   NO            N       N
2         3      N            1   NO            N       N
3         4      N            3   NO            N       N
4         5      N            0   NO            N       N
..      ...    ...          ...  ...          ...     ...
995     996      Y            3   NO            S       Y
996     997      Y            3   NO            S       Y
997     998      Y            3   NO            S       Y
998     999      Y            1   NO            S       Y
999    1000      Y            3   NO            S       Y

[1000 rows x 6 columns]

In [67]:
X = df.iloc[:,[1,2,4,7,12,14]]
X

     battery_power  clock_speed  int_memory  n_cores  px_width  talk_time
0             1757          0.5        49.0      6.0       713        4.0
1             1866          1.4        30.0      3.0      1781        8.0
2              617          2.3        32.0      7.0       874        7.0
3             1356          2.8        29.0      6.0      1983       19.0
4             1049          2.2        63.0      5.0      1077       13.0
..             ...          ...         ...      ...       ...        ...
995            595          0.9        23.0      NaN       810       18.0
996           1310          2.2        51.0      NaN      1919       12.0
997           1725          1.6         6.0      2.0      1307        4.0
998           1253          0.5         5.0      2.0       714        4.0
999           1654          1.5        43.0      2.0       629       10.0

[1000 rows x 6 columns]

In [68]:
y = df.iloc[:,6]
y

0      1
1      3
2      1
3      3
4      0
      ..
995    3
996    3
997    3
998    1
999    3
Name: price_range, Length: 1000, dtype: int64

In [69]:
df.isnull().sum()

no_reg              0
battery_power       0
clock_speed         0
four_g              0
int_memory         27
m_dep            1000
price_range         0
n_cores           847
wifi                0
pc                203
px_height           0
touch_screen        0
px_width            0
ram                 8
talk_time          35
three_g             0
dtype: int64

In [70]:
df = df.fillna({"int_memory": df['int_memory'].mean()})

In [71]:
df = df.fillna({"n_cores": df['n_cores'].mean()})

In [78]:
df = df.fillna({"talk_time": df['talk_time'].mean()})

In [79]:
df.isnull().sum()

no_reg              0
battery_power       0
clock_speed         0
four_g              0
int_memory          0
m_dep            1000
price_range         0
n_cores             0
wifi                0
pc                203
px_height           0
touch_screen        0
px_width            0
ram                 8
talk_time           0
three_g             0
dtype: int64

In [81]:
X = df.iloc[:,[1,2,4,7,12,14]]
X

     battery_power  clock_speed  int_memory   n_cores  px_width  talk_time
0             1757          0.5        49.0  6.000000       713        4.0
1             1866          1.4        30.0  3.000000      1781        8.0
2              617          2.3        32.0  7.000000       874        7.0
3             1356          2.8        29.0  6.000000      1983       19.0
4             1049          2.2        63.0  5.000000      1077       13.0
..             ...          ...         ...       ...       ...        ...
995            595          0.9        23.0  4.849673       810       18.0
996           1310          2.2        51.0  4.849673      1919       12.0
997           1725          1.6         6.0  2.000000      1307        4.0
998           1253          0.5         5.0  2.000000       714        4.0
999           1654          1.5        43.0  2.000000       629       10.0

[1000 rows x 6 columns]

In [82]:
from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test = tts(X,y,test_size=0.2,random_state = 123)
X_train.head()

     battery_power  clock_speed  int_memory   n_cores  px_width  talk_time
512           1137          2.2         3.0  4.849673      1285  17.000000
685           1433          2.3        27.0  4.849673      1651   2.000000
997           1725          1.6         6.0  2.000000      1307   4.000000
927           1112          0.5        12.0  4.849673      1119  11.268394
376           1344          1.5        14.0  4.849673       556   5.000000

In [83]:
from sklearn.svm import SVC

In [84]:
modelo = SVC(C = 100, kernel = 'linear', random_state = 123)
modelo.fit(X_train,y_train)

SVC(C=100, kernel='linear', random_state=123)

In [85]:
predicted = modelo.predict(X_test)
predicted

array([0, 3, 0, 3, 3, 0, 3, 0, 0, 0, 0, 3, 0, 3, 2, 0, 0, 0, 0, 3, 3, 2,
       3, 3, 0, 0, 0, 3, 0, 3, 2, 2, 3, 0, 0, 2, 0, 2, 2, 3, 2, 0, 3, 2,
       0, 2, 0, 3, 3, 0, 3, 3, 2, 0, 3, 0, 0, 0, 0, 0, 0, 3, 3, 2, 3, 0,
       2, 2, 0, 0, 0, 3, 2, 3, 0, 0, 0, 3, 0, 3, 0, 3, 3, 3, 0, 3, 2, 3,
       2, 3, 0, 3, 3, 3, 0, 0, 3, 0, 0, 3, 0, 0, 2, 0, 0, 3, 0, 0, 0, 3,
       2, 2, 2, 0, 0, 3, 3, 3, 2, 3, 0, 0, 3, 3, 0, 3, 3, 0, 2, 0, 0, 3,
       3, 0, 3, 2, 0, 0, 2, 3, 0, 3, 3, 0, 0, 2, 3, 3, 0, 3, 2, 3, 0, 3,
       2, 0, 2, 0, 0, 3, 3, 3, 3, 2, 0, 3, 0, 0, 3, 3, 0, 3, 0, 3, 2, 3,
       3, 2, 0, 3, 0, 3, 0, 3, 0, 0, 0, 0, 0, 2, 3, 0, 2, 3, 0, 0, 3, 0,
       3, 2], dtype=int64)

In [86]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predicted)

0.285

In [87]:
from sklearn.metrics import confusion_matrix

In [88]:
confusion_matrix(y_test,predicted)

array([[30,  0,  9, 10],
       [26,  0, 11, 19],
       [21,  0,  4, 25],
       [11,  0, 11, 23]], dtype=int64)